{
    "presets": ["env", "react", "stage-0"],
    "sourceMaps": true,
    "plugins": [
        ["import", [{"libraryName": "antd", "libraryDirectory": "es", "style": true}]],
        "transform-decorators-legacy",
        "react-hot-loader/babel",
        ["transform-class-properties", { "loose": true }]
    ]
}
